.notifications {
  position: relative; /* Asegura que el menú desplegable de notificaciones esté posicionado relativamente a este contenedor */
  display: inline-block;
}

.notifications-icon {
  cursor: pointer;
}

.notification-dropdown {
  display: block;
  position: absolute;
  background-color: rgb(128, 128, 128);
  min-width: 4em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 12;
  top: 100%;
  right: 0;
}

.notification-item {
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-item:hover {
  background-color: #5a5a5a;
}

.notification-item.leida:hover {
  background-color: #383838;
}

.notification-item.no-leida:hover {
  background-color: #444444;
}

.notification-item.leida {
  background-color: #4d4d4d; /* Color para notificaciones leídas */
}

.notification-item.no-leida {
  background-color: #939393; /* Color para notificaciones no leídas */
}