.notification-container {
  position: relative;
  display: inline-block;
}

.notification-bell {
  margin-top: 25%;
  height: 2.1em;
  width: 2.5em;
  cursor: pointer;
}

.notification-dropdown {
  display: block;
  position: absolute;
  background-color: rgb(48, 48, 48);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%; /* Posiciona el dropdown justo debajo del ícono */
  right: 0; /* Alinea el dropdown con el borde derecho del ícono */
  padding: 10px;
  border: 1px solid #3f3f3f;
  border-radius: 5px;
  overflow-y: scroll;
  max-height: 500px;
}

.notification-dropdown h3 {
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.notification-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.notification-emisor-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-item:hover {
  background-color: #2b2b2b;
}

.notification-item.leida {
  background-color: #383838; /* Color para notificaciones leídas */
}

.notification-item.no-leida {
  background-color: rgb(97, 97, 97); /* Color para notificaciones no leídas */
}