/* Contenedor principal del perfil */
.perfil-container {
  color: white;
  border: 1px solid #e1e8ed;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  max-width: 50%;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Cabecera del perfil */
.perfil-header {
  position: relative;
  padding: 0 20px;
}

/* Foto de portada */
.cover-photo {
  height: 150px;
  background-color: #1da1f2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.cover-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Información del perfil */
.perfil-info {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.perfil-main {
  display: flex;
  justify-content: space-between; /* Distribuir espacio entre imagen + datos y el botón */
  align-items: center; /* Alinear verticalmente todos los elementos */
  width: 100%;
  margin-bottom: 10px;
}

/* Foto de perfil */
.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: -8em;
  background-color: #b3b3b3;
}

/* Detalles del perfil */
.perfil-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Botón de editar perfil */
.editar-perfil-button {
  margin-left: auto;
  background-color: #1da1f2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.editar-perfil-button:hover {
  background-color: #0d95e8;
}

/* Detalles del nombre, username y bio */
.perfil-nombre, .perfil-username, .perfil-bio {
  margin: 5px 0;
}

.perfil-nombre {
  font-weight: bold;
}

.perfil-username {
  color: #c8ced2;
  font-size: 14px;
}

.bio {
  font-size: 14px;
  color: #c8ced2;
  margin-left: 0;
}

/* Cuerpo del perfil */
.perfil-body {
  padding: 10px 20px;
}

/* Estadísticas del perfil */
.perfil-stats p {
  margin: 5px 0;
  font-size: 14px;
}

/* Devocionales */
.perfil-devocionales {
  margin-top: 20px;
}

/* Devocional Item */
.devocional-item {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
  border: 3px solid rgb(227, 225, 225);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

/* Devocional Descripción */
.devocional-descripcion {
  max-width: 100%;
  margin: 0 auto;
}

.devocional-descripcion .ql-editor {
  text-align: left;
  max-width: 100%;
}

.devocional-fecha, .devocional-autor {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  margin: 10px 0;
}

.banner-picture-container {
  margin-top: 3%;
  width: 100%;
  height: 30vh;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.banner-picture {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
}
/* Colores Claros */
@media (prefers-color-scheme: light) {
  .perfil-container {
  color: rgb(39, 39, 39);
  border: 1px solid #e1e8ed;
  border-radius: 10px;
  width: 100%;
  max-width: 50%;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Cabecera del perfil */
.perfil-header {
  position: relative;
  padding: 0 20px;
  height: 100%;
}

/* Foto de portada */
.cover-photo {
  height: 150px;
  background-color: #1da1f2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.cover-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Información del perfil */
.perfil-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px;
}

.perfil-main {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Foto de perfil */
.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #e4e4e4;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgba(69, 69, 69, 0.1);
  margin-top: -40px;
}

/* Detalles del perfil */
.perfil-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.perfil-details h2 {
  margin: 0;
  font-size: 20px;
  color: rgb(74, 74, 74);
  margin-top: -10px;
}

.perfil-nombre {
  margin-top: -20px;
}

.perfil-username {
  margin-top: -10px;
  color: #323232;
  font-size: 14px;
}

/* Biografía */
.perfil-bio {
  margin-top: -20px;
}

.bio {
  font-size: 14px;
  color: #565656;
}

/* Cuerpo del perfil */
.perfil-body {
  padding: 10px 20px;
}

/* Estadísticas del perfil */
.perfil-stats p {
  margin: 5px 0;
  font-size: 14px;
}
/* Devocionales */
.perfil-devocionales {
  margin-top: 20px;
  
}

/* Devocional Item */
.devocional-item {
  padding-top: 10px;
  margin-top: 10px;
  text-align: center; /* Centrar el contenido del devocional */
  border-radius: 5px;
  border: 3px solid rgb(193, 193, 193);
}

/* Devocional Descripción */
.devocional-descripcion {
  display: flex;
  justify-content: center; /* Centrar horizontalmente el contenido del Quill */
  align-items: center; /* Centrar verticalmente el contenido del Quill */
  max-width: 100%;
}

.devocional-descripcion .ql-editor {
  text-align: center; /* Centrar el texto dentro del editor Quill */
  max-width: 100%;
}

/* Fecha del Devocional */
.devocional-fecha, .devocional-autor {
  text-align: center; /* Centrar el texto de la fecha y el autor */
  font-size: 14px;
  color: #6d6d6d;
  margin: 10px 0;
}
}
@media screen and (max-width: 850px) {
  .perfil-container {
    max-width: 90%;
    margin: 10px auto;
  }

  .banner-picture-container {
    height: 20vh;
  }

  .profile-picture {
    width: 60px;
    height: 60px;
    margin-top: -4em;
  }

  .editar-perfil-button {
    padding: 5px 8px;
    font-size: 14px;
  }

  .perfil-main {
    flex-direction: column;
    align-items: flex-start;
  }

  .perfil-details {
    margin-left: 10px;
  }
}