#root {
  min-height: 100vh;
  min-width: 0;
  display: flex;
  flex-direction: column;
  max-width: 100%; /* Establece el ancho máximo */
  max-height: 100vh;
  margin: 0 auto; /* Centra el contenido horizontalmente */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


/* Estilos para dispositivos más grandes */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(253, 202, 60);
  height: 7em;
  width: 100em;
  max-width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin-left: 8em;
  padding-right: 20px;
}

/* Estilos para el menú hamburguesa */
.hamburger-menu {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.hamburger-menu div {
  width: 25px;
  height: 3px;
  background-color: black;
}

/* Menú activo */
.hamburger-menu.active div {
  background-color: #fff;
}

.logo {
  width: 10rem;
  height: 150%;
  justify-content: baseline;
  margin-top: -70%;
}

.logo.logged-in {
  margin-left: -8rem;
  width: 7rem;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #ffff00);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #ba00fd);
}

.links {
  display: flex;
  align-items: center;
}

.links.logged-in {
  margin-left: 25rem;
  display: flex;
  align-items: center;
}

.user-profile {
  display: flex;
  align-items: center;
  margin-left: 20px; /* Ajusta el margen entre los enlaces y el perfil de usuario */
  position: relative; /* Asegura que el menú desplegable esté posicionado relativamente a este contenedor */
}

.user-profile div {
  margin-right: 10px;
}

.user-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Añade un borde redondeado a la imagen de perfil */
}

.user-profile .user-menu {
  position: absolute;
  top: 100%; /* Coloca el menú justo debajo del perfil */
  left: 50%; /* Centra el menú horizontalmente */
  transform: translateX(-50%); /* Ajusta para que el menú esté completamente centrado */
  background-color: rgb(26, 26, 26);
  border: 3px solid #3b3b3b;
  border-radius: 5px;
  padding: 8px 0;
  list-style: none;
  z-index: 1;
  width: 150px; /* Establece un ancho fijo para el menú */
  display: none; /* Inicialmente oculta el menú */
  height: fit-content;
}

.boton-menu-navbar {
  width: 100%; /* Asegura que el botón ocupe todo el ancho del contenedor */
  padding: 10px 0; /* Añade algo de espacio arriba y abajo del texto */
  text-align: center; /* Centra el texto dentro del botón */
  border-radius: 0%; 
  border-bottom: 3px solid #8d8d8d;
  margin-top: -7px; /* Ajusta el margen para una mejor separación */

}
.boton-menu-configuracion {
  width: 100%; /* Asegura que el botón ocupe todo el ancho del contenedor */
  padding: 10px 0; /* Añade algo de espacio arriba y abajo del texto */
  text-align: center; /* Centra el texto dentro del botón */
  border-radius: 0%; 
  border-bottom: 3px solid #8d8d8d;
}

.user-profile:hover .user-menu {
  display: block; /* Muestra el menú cuando se pasa el ratón sobre la imagen de perfil */
}

.session-expired-message {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(254, 87, 87);
  padding: 20px;
  border-radius: 41px;
  z-index: 1000;
  text-align: center;
}

/* Contenedor principal */
.formularioRegistro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh; /* Alinea el formulario verticalmente al centro de la ventana */
}

/* Contenedor de cada par label-input */
.form-group {
  display: flex;
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  margin-top: 5px; /* Espacio entre cada par */
  width: 100%; /* Asegura que el ancho sea 100% del contenedor padre */
}

/* Estilo para los labels */
.formularioRegistro label {
  width: 100px; /* Ancho fijo para alinear */
  text-align: right; /* Alinea el texto del label a la derecha */
  margin-right: 15px; /* Espacio entre el label y el input */
}

/* Estilo para los inputs */
.formularioRegistro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formularioRegistro .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.formularioRegistro label {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 20px;
  height: auto;
  vertical-align: middle;
}

.formularioRegistro input {
  width: 300px; /* Ajusta este valor según sea necesario */
}

.dropdown-menu li {
  padding: 8px 16px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-items > * {
  margin-right: 40px; /* Ajusta el margen entre los elementos de navegación */
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid rgb(253, 202, 60);
  background-color: rgb(28, 28, 28); /* Puedes cambiar el color si deseas */
  height: 60px; /* Ajusta la altura según prefieras */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Para asegurar que esté encima de otros elementos */
}

.footer-icons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 400px; /* Limita el ancho para centrar los iconos */
}

.footer-icons img {
  width: 40px;
  height: 40px;
}
.chat-icon {
  margin-top: 25%;
}

.publicar-icon{
  margin-top: 25%;
}

.detalle {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 30px;
}

.detalle img {
  margin-top: 30px;
  width: 300px;
  height: 300px;
}

.tabla {
  width: 1000px;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

/* Centrar el contenido de .ql-editor */
.ql-editor {
  width: auto;
  max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  text-align: center; /* Centra el texto dentro del contenedor */
  min-height: fit-content;
  overflow-x: auto;
}

/* Opcional: Ajustes específicos para el texto y títulos dentro de .ql-editor */
.ql-editor p,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  text-align: center; /* Centra todos los encabezados y párrafos */
  margin: 10px 0; /* Espaciado entre elementos */
}
.ql-toolbar .ql-stroke {
  fill: none;
  stroke: #dfdfdf;
}

.ql-toolbar .ql-fill {
  fill: #dfdfdf;
  stroke: none;
}

.ql-toolbar .ql-picker {
  color: #dfdfdf;
}

/*Temporal acá, linea para separar entre el titulo y devocional al crear*/
.separador{
  margin-top: 5%;
  margin-bottom: 5%;
  border-bottom: 3px solid rgb(241, 241, 241);
}
label [for="nombreCreacion"]{
  font-size: 70px;
}
.reactQuill-crear-modificar {
  margin-bottom: 3%;
}

/* Otros estilos preexistentes */
.titulo {
  border-radius: 5px;
  border: 3px solid rgb(177, 177, 177);
}

.titulo:hover {
  background-color: #565656;
}

.titulo:active {
  background-color: rgb(97, 97, 97);
  box-shadow: 0 5px #310038;
  transform: translateY(3px);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.icon {
  width: 70px;
  height: 70px;
  display: inline-flex;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.devocionales-container {
  display: flex;
  justify-content: space-between;
}

/* Estilo para el botón "Me Gusta" */
.like-button {
  margin-left: 2%;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

.like-button i {
  transition: color 0.3s;
}

/* Icono cuando no ha dado "Me Gusta" */
.not-liked {
  color: gray;
}

/* Icono cuando ha dado "Me Gusta" */
.liked {
  color: red;
}

/* Estilo general para el input de búsqueda */
.busqueda-input {
  width: 40%;
  padding: 10px; /* Espaciado interno */
  margin: 10px 0; /* Margen superior e inferior */
  border: 2px solid #e8e8e8; /* Borde gris claro */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de la fuente */
  background-color: #4a4646;
  color: #f5f5f5;
}

/* Estilo del input al recibir foco */
.busqueda-input:focus {
  border-color: #4a90e2; /* Cambiar el color del borde al recibir foco */
  outline: none; /* Quitar el borde exterior azul predeterminado */
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5); /* Agregar un efecto de sombra */
}

/* Estilo para cambiar el fondo al hacer hover */
.busqueda-input:hover {
  background-color: #b1b1b1; /* Fondo gris claro */
}

.devocionales {
  width: calc(100% - 20px); /* Ancho ajustado para los devocionales */
  margin-right: 20px; /* Espacio entre los contenedores */
  overflow-y: scroll;
  max-height: 70vh;
}

.devocional-container {
  border: 1px solid #ccc; /* Ajusta el color y estilo del borde según tus necesidades */
  padding: 15px; /* Espacio interior */
  margin-bottom: 15px; /* Espacio entre devocionales */
  border-radius: 8px; /* Bordes redondeados */
}

.mostrar-comentarios-boton {
  background-color: #d6d6d6;
}
/* Colores Claros */
@media (prefers-color-scheme: light) {
  /* General Styles */
  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    margin: 0 auto;
  }

  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light;
    color: #333333;
    background-color: #f5f5f5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    font-weight: 500;
    color: #007acc;
    text-decoration: inherit;
  }

  a:hover {
    color: #005ea1;
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #a8a8a8;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  button:hover {
    border-color: #646cff;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(253, 202, 60);
    height: 100px;
    width: 1600px;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 120px;
    padding-right: 20px;
  }

  .chat-icon {
    width: 24px;
    height: 24px;
  }

  .logo {
    width: 8rem;
    height: 110px;
    justify-content: baseline;
    margin-top: -45px;
  }

  .logo.logged-in {
    margin-left: -120px;
    width: 7rem;
  }

  .logo:hover {
    filter: drop-shadow(0 0 2em #a47801);
  }

  .logo.react:hover {
    filter: drop-shadow(0 0 2em #ba00fd);
  }

  .links {
    margin-left: 1000px;
    display: flex;
    align-items: center;
  }

  .user-profile {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }

  .user-profile div {
    margin-right: 10px;
  }

  .user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .user-profile .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    border: 1px solid #afafaf;
    border-radius: 5px;
    padding: 8px 0;
    list-style: none;
    display: none;
  }

  .user-profile:hover .dropdown-menu {
    display: block;
  }

  .formularioRegistro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }

  .form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 100%;
  }

  .formularioRegistro label {
    width: 100px;
    text-align: right;
    margin-right: 15px;
  }

  .formularioRegistro input {
    width: 300px;
    padding: 8px;
    border: 1px solid #a4a4a4;
    border-radius: 4px;
  }

  .dropdown-menu li {
    padding: 8px 16px;
  }

  .dropdown-menu li:hover {
    background-color: #e9e9e9;
  }

  .nav-items {
    display: flex;
    align-items: center;
  }

  .nav-items > * {
    margin-right: 40px;
  }

  .footer {
    border-top: 1px solid rgb(253, 202, 60);
    height: 50px;
    text-align: center;
  }

  .detalle {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .detalle img {
    margin-top: 30px;
    width: 300px;
    height: 300px;
  }

  .tabla {
    width: 1000px;
  }

  .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  /* Estilos personalizados para centrar los encabezados en react-quill */
  .ql-editor h1,
  .ql-editor h2,
  .ql-editor h3,
  .ql-editor h4,
  .ql-editor h5,
  .ql-editor h6 {
    text-align: center;
  }

  /* Establece el tamaño de la altura del editor de react-quill */
  .ql-editor {
    width: 600px;
    min-height: fit-content;
    overflow-x: auto;
  }

  .titulo {
    border-radius: 5px;
    border: 3px solid rgb(227, 225, 225);
  }

  .titulo:hover {
    background-color: #e7e7e7;
  }

  .titulo:active {
    background-color: rgb(210, 210, 210);
    box-shadow: 0 5px #aeaeae;
    transform: translateY(3px);
  }

  .devocionales-container {
    display: flex;
    justify-content: space-between;
  }

  .busqueda-input {
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #313131;
    border-radius: 5px;
    font-size: 16px;
    background-color: #e9e9e9;
    color:#1a1a1a
  }

  .busqueda-input:focus {
    border-color: #4a90e2;
    outline: none;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
  }

  .busqueda-input:hover {
    background-color: #e9e9e9;
  }

  .devocionales {
    width: calc(100% - 20px); /* Ancho ajustado para los devocionales */
    margin-right: 20px; /* Espacio entre los contenedores */
    overflow-y: scroll;
    max-height: 84vh;
  }

  /* Asegurarse de que el contenedor .devocional-container esté centrado */
.devocional-container {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 0 auto 15px; /* Centrando horizontalmente y añadiendo margen inferior */
  border-radius: 8px;
  max-width: 800px; /* Ancho máximo del contenedor */
  text-align: center; /* Centra el contenido dentro del contenedor */
}
}

/* Para dispositivos móviles */
@media (max-width: 768px) {
  .hamburger-menu {
    display: flex;
  }

  .links {
    display: none;
  }

  .nav-items-mobile {
    display: flex;
    flex-direction: column; /* Cambia a columna para apilar los elementos */
    background-color: #333;
    padding: 10px;
    position: absolute;
    top: 15em;
    right: 0;
    left: 0;
    width: 100%;
    height: calc(50vh - 7em);
    z-index: 1;
    justify-content: center;
  }

  .nav-items-mobile a,
  .nav-items-mobile .user-profile {
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #fff;
  }

  .nav-items-mobile .user-profile {
    flex-direction: column; /* Apila el nombre e imagen de perfil en columna */
    align-items: center;
  }

  .nav-items-mobile .profile-image {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
  }

  .nav-items {
    flex-direction: column; /* Cambia la dirección de los elementos a columna */
    width: 100%; /* Asegúrate de que ocupe todo el ancho */
    justify-content: flex-start;
    align-items: center;
  }
}

/* Media query para pantallas mayores a 768px (escritorio) */
@media (min-width: 769px) {
  .hamburger {
    display: none;
  }

  .links {
    display: flex;
  }

  .mobile-menu {
    display: none;
  }
}